h1 {
  background-color: #717171;
  color: #eeeeee !important;
  font-size: 50px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.mainContainer > .personContainer:nth-child(3n+1) > .personTable {
  background-color: #ff6377;
}
.mainContainer > .personContainer:nth-child(3n+2) > .personTable {
  background-color: #00dbaa;
}
.mainContainer > .personContainer:nth-child(3n+3) > .personTable {
  background-color: #0fcedd;
}
.personContainer {
  height: 100%;
}
.personTable {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.name {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
.phone,
.address {
  color: #eeeeee;
  padding: 0 10px 0 10px;
}
.phone {
  font-size: 10px;
  padding-bottom: 15px;
  font-weight: bold;
}
.address {
  padding-bottom: 10px;
  font-size: 15px;
}
/*
xs= 0-767 pixels
sm = 768-991 pixels
md = 992-1199 pixels
lg = 1200 pixels and up
*/
@media (max-width: 766px) {
  .personTable {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .mainContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
